<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="vld-b.Bismuth"
    Publisher="CN=38A77537-4D84-4363-9B2C-692B1C1556A6"
    Version="0.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="57c48758-b765-4480-94f6-dd7f4f2b755e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Bismuth</DisplayName>
    <PublisherDisplayName>vld-b</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WID.App">
      <uap:VisualElements
        DisplayName="Bismuth"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Bismuth is a Note-Taking app made for Windows 11 with native compatibility for Windows on ARM devices (e.g. the new Microsoft Surface Pro 11)!"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Bismuth"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="bismuth_file">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/zip">.bismuth</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Bismuth ink file</uap:DisplayName>
            <uap:Logo>Assets\icon128x128.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:InfoTip>Bismuth file containing pages with ink, text and images</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>